.app.ui-locked .btn {
  background: #a9a9a9;
  color: #ececec;
}

.app.ui-locked .btn-secondary,
.app.ui-locked .btn-tertiary,
.app.ui-locked .btn-quaternary {
  background: #b4b4b4;
}

.app.ui-locked .toggle-ui {
  border-color: #9b9b9b;
  background: #cfcfcf;
}

.app.ui-locked .toggle input[type="checkbox"]:checked + .toggle-ui {
  background: #9e9e9e;
}

.app.ui-locked .toggle input[type="checkbox"]:checked + .toggle-ui::after {
  background: #efefef;
}

.app.ui-locked .toggle-text,
.app.ui-locked .label {
  color: #8b8b8b;
}

.app.ui-locked .text-input,
.app.ui-locked .avatar-input {
  background: #e6e6e6;
  border-color: #c3c3c3;
  color: #6e6e6e;
}
